.loading {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  pointer-events: auto;

  &::before,
  &::after {
    background-color: #000;
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    transition: 0.6s;
    transform: scale(1);
  }

  &:before {
    left: 0;
    transform-origin: top;
  }

  &:after {
    right: 0;
    transform-origin: bottom;
  }

  .loadEnd & {
    pointer-events: none;

    &::before,
    &::after {
      transform: scale(1, 0);
    }
  }

  .loadTxt {
    z-index: 2;
    position: absolute;
    font-size: 40 / $pc_font * 1rem;
    color: #fff;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    pointer-events: none;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 60 / $pc_font * 1rem;
      height: 80 / $pc_font * 1rem;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      animation: Anim2 0.8s ease alternate infinite;
      visibility: visible;
      opacity: 1;
      pointer-events: none;
    }

    &::before {
      left: -90 / $pc_font * 1rem;
      background-image: url(../../../img/common/innu.png);
    }

    &::after {
      right: -90 / $pc_font * 1rem;
      background-image: url(../../../img/common/nuko.png);
    }

    .loadEnd & {
      opacity: 0;
      visibility: hidden;

      &::before,
      &::after {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes Anim2 {
  20% {
    transform: translateY(-30%) scale3d(0.8, 0.8, 1);
  }

  40% {
    transform: translateY(-30%) scale3d(0.8, 1, 1);
  }

  60% {
    transform: translateY(-30%) scale3d(1, 0.8, 1);
  }

  80% {
    transform: translateY(-30%) scale3d(1, 0.8, 1);
  }

  100% {
    transform: translateY(-30%) scale3d(1, 1, 1);
  }
}