.menuList {
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 95vh;
  padding: 20 / $pc_font * 1rem;
  background-color: rgba(#000, 0.8);
  border: 5 / $pc_font * 1rem solid #fff;
  border-radius: 16 / $pc_font * 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    animation: Anim 1s ease alternate;
  }

  .closeBtn {
    position: absolute;
    font-size: 36 / $pc_font * 1rem;
    color: #fff;
    top: 40 / $pc_font * 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 40 / $pc_font * 1rem;
    cursor: pointer;
    background-color: #333;
    border-radius: 100%;
    width: 50 / $pc_font * 1rem;
    height: 50 / $pc_font * 1rem;
    padding-bottom: 3 / $pc_font * 1rem;
    font-weight: 700;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      border: 2 / $pc_font * 1rem solid #fff;
      box-shadow: inset 0 0 8 / $pc_font * 1rem #000;
    }
  }

  .menuItem {
    text-align: center;
    width: 64%;
    margin: 15 / $pc_font * 1rem 0;

    a {
      position: relative;
      background-color: #333;
      width: 70%;
      text-align: center;
      margin: auto;
      display: inline-block;
      padding: 16 / $pc_font * 1rem 0;
      font-size: 24 / $pc_font * 1rem;
      color: #fff;
      letter-spacing: 0.1em;
      font-weight: 600;
      text-shadow: 0 0 4 / $pc_font * 1rem #000;
      border: 4 / $pc_font * 1rem solid #fff;
      border-radius: 64 / $pc_font * 1rem;
      transition: 0.2s;
      background-color: #333;

      &.titleMenu {
        background-color: #f9f9f9;
        color: #333;
        border: 4 / $pc_font * 1rem solid #333;
        text-shadow: none;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50 / $pc_font * 1rem;
        height: 70 / $pc_font * 1rem;
        top: 50%;
        transform: translateY(-50%);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &::before {
        left: -50 / $pc_all * 1%;
        background-image: url(../../../img/common/innu.png);
      }

      &::after {
        right: -50 / $pc_all * 1%;
        background-image: url(../../../img/common/nuko.png);
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 9 / $pc_font * 1rem #fff;
        opacity: 0.9;
      }
    }
  }
}

@keyframes Anim {
  20% {
    transform: translate(-50%, -50%) scale3d(0.8, 0.8, 1);
  }

  40% {
    transform: translate(-50%, -50%) scale3d(0.7, 1, 1);
  }

  70% {
    transform: translate(-50%, -50%) scale3d(1, 0.8, 1);
  }

  100% {
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}