@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  line-height: 1;
}

body {
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-size: 1rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

img {
  width: 100%;
  max-width: initial;
  vertical-align: bottom;
}
img[src$=".svg"] {
  max-width: 100%;
}

label {
  margin-bottom: 0;
}

input[type=search] {
  color: inherit;
  border: 1px solid #333;
  border-radius: 0;
  padding: 0.3em 0.3em 0.3em 35px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
}

figure {
  margin: 0;
}

h1 {
  font-size: inherit;
}

p {
  margin: 0;
}

h2 {
  color: inherit;
  font-size: 1rem;
}

h3 {
  color: inherit;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

h3 {
  font-size: 1rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0;
}

h4 {
  color: inherit;
  font-size: inherit;
  font-weight: normal;
}

button,
input[type=button],
input[type=submit] {
  background-color: transparent;
}

ol {
  list-style: none;
}

a:hover,
a:active {
  color: inherit;
}

/*================================
	サイトごとに設定
=================================*/
/*================================
	メディアクエリの設定
=================================*/
/*================================
	サイト共通設定
=================================*/
html {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-size: 16px;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}
html * {
  font-weight: inherit;
  box-sizing: border-box;
}

/*================================
	PC 共通設定
=================================*/
@media print, screen and (min-width: 768px) {
  html {
    overflow-y: scroll;
  }
  .sp {
    display: none;
  }
  .inner {
    width: 87.5%;
    max-width: 1400px;
    margin: auto;
  }
}
/*================================
	PC 相対値範囲設定
=================================*/
@media print, screen and (min-width: 768px) and (max-width: 1600px) {
  html {
    font-size: 1vw;
  }
}
/*================================
	SP 共通設定
=================================*/
@media only screen and (max-width: 767px) {
  html {
    font-size: 3.6458333333vw;
  }
  .inner {
    width: 90%;
    margin: auto;
  }
  .pc {
    display: none;
  }
}
/*================================
	JS処理系
=================================*/
.sa {
  opacity: 0;
  transition: all 0.5s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-100px, 0);
}

.sa--rl {
  transform: translate(100px, 0);
}

.sa--up {
  transform: translate(0, 100px);
}

.sa--down {
  transform: translate(0, -100px);
}

.sa--scaleUp {
  transform: scale(0.5);
}

.sa--scaleDown {
  transform: scale(1.5);
}

.sa--rotateL {
  transform: rotate(180deg);
}

.sa--rotateR {
  transform: rotate(-180deg);
}

.menuList {
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 95vh;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0.3125rem solid #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menuList.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  animation: Anim 1s ease alternate;
}
.menuList .closeBtn {
  position: absolute;
  font-size: 2.25rem;
  color: #fff;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2.5rem;
  cursor: pointer;
  background-color: #333;
  border-radius: 100%;
  width: 3.125rem;
  height: 3.125rem;
  padding-bottom: 0.1875rem;
  font-weight: 700;
  transition: 0.2s;
}
.menuList .closeBtn:hover {
  transform: scale(1.1);
  border: 0.125rem solid #fff;
  box-shadow: inset 0 0 0.5rem #000;
}
.menuList .menuItem {
  text-align: center;
  width: 64%;
  margin: 0.9375rem 0;
}
.menuList .menuItem a {
  position: relative;
  background-color: #333;
  width: 70%;
  text-align: center;
  margin: auto;
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-shadow: 0 0 0.25rem #000;
  border: 0.25rem solid #fff;
  border-radius: 4rem;
  transition: 0.2s;
  background-color: #333;
}
.menuList .menuItem a.titleMenu {
  background-color: #f9f9f9;
  color: #333;
  border: 0.25rem solid #333;
  text-shadow: none;
}
.menuList .menuItem a::before, .menuList .menuItem a::after {
  content: "";
  position: absolute;
  width: 3.125rem;
  height: 4.375rem;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.menuList .menuItem a::before {
  left: -3.125%;
  background-image: url(../../../img/common/innu.png);
}
.menuList .menuItem a::after {
  right: -3.125%;
  background-image: url(../../../img/common/nuko.png);
}
.menuList .menuItem a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.5625rem #fff;
  opacity: 0.9;
}

@keyframes Anim {
  20% {
    transform: translate(-50%, -50%) scale3d(0.8, 0.8, 1);
  }
  40% {
    transform: translate(-50%, -50%) scale3d(0.7, 1, 1);
  }
  70% {
    transform: translate(-50%, -50%) scale3d(1, 0.8, 1);
  }
  100% {
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}
.loading {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  pointer-events: auto;
}
.loading::before, .loading::after {
  background-color: #000;
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  transition: 0.6s;
  transform: scale(1);
}
.loading:before {
  left: 0;
  transform-origin: top;
}
.loading:after {
  right: 0;
  transform-origin: bottom;
}
.loadEnd .loading {
  pointer-events: none;
}
.loadEnd .loading::before, .loadEnd .loading::after {
  transform: scale(1, 0);
}
.loading .loadTxt {
  z-index: 2;
  position: absolute;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.8s;
  pointer-events: none;
}
.loading .loadTxt::before, .loading .loadTxt::after {
  position: absolute;
  content: "";
  width: 3.75rem;
  height: 5rem;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: Anim2 0.8s ease alternate infinite;
  visibility: visible;
  opacity: 1;
  pointer-events: none;
}
.loading .loadTxt::before {
  left: -5.625rem;
  background-image: url(../../../img/common/innu.png);
}
.loading .loadTxt::after {
  right: -5.625rem;
  background-image: url(../../../img/common/nuko.png);
}
.loadEnd .loading .loadTxt {
  opacity: 0;
  visibility: hidden;
}
.loadEnd .loading .loadTxt::before, .loadEnd .loading .loadTxt::after {
  animation-play-state: paused;
}

@keyframes Anim2 {
  20% {
    transform: translateY(-30%) scale3d(0.8, 0.8, 1);
  }
  40% {
    transform: translateY(-30%) scale3d(0.8, 1, 1);
  }
  60% {
    transform: translateY(-30%) scale3d(1, 0.8, 1);
  }
  80% {
    transform: translateY(-30%) scale3d(1, 0.8, 1);
  }
  100% {
    transform: translateY(-30%) scale3d(1, 1, 1);
  }
}
.topWrap {
  z-index: 99;
  position: relative;
  background-image: url(../../../img/common/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.topWrap .contentBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 75rem;
  height: 42.5rem;
  background-image: url(../../../img/common/title.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.topWrap .contentBox .menuOpen {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  border: 0.375rem solid #fff;
  padding: 1.25rem 6rem 1rem;
  font-size: 2.5rem;
  font-weight: 900;
  border-radius: 1rem;
  background-color: #333;
  transition: 0.2s;
  color: yellow;
}
.topWrap .contentBox .menuOpen:hover {
  opacity: 0.6;
}